.App {
  text-align: center;
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
}

.App-header {
  background-color: #26262D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
